@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@400;700;900&family=Engagement&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Mono&family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@400;700;900&family=Engagement&family=Merienda:wght@500&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Mono&family=Pinyon+Script&display=swap');


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  scroll-behavior: smooth;
}

li, a, button {
  background-color: #18191c;
  font-family: monospace, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

header {
  background-color: #18191c;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  background-color: #18191c;
  margin-right: auto;
  font-family: 'Merienda',monospace, sans-serif;
  color: white;
  cursor: pointer;
}

.nav__links{
  list-style: none;
}

.nav__links li {
  background-color: #18191c;
  display:inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color: rgb(100, 100, 100);
}

button{
  background-color: #39393b;
  padding: 9px 25px;
  border:none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(100, 100, 100);
}

section{
  padding: 100px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}

.home_div{
  display: flex;
}


.box {
  height: 200px;
  width: 200px;
  background-color: aqua;
  font-size: 40pt;

}